#################
## Flyff Files
#################

# Resource Files
*.res
*.res_original
*.rf

# 3D Files
*.ani
*.03d
*.chr

# Music
*.ogg
*.mp3
*.wav

# SFX
*.sfx

# Textures
*.dds
*.tga
*.bmp
*.jpg

# World Files
*.dyo
*.wld
*.lnd
*.rgn

#error files
error_*.txt
CQuery*.txt
error*.txt

#Archive
*.rar

#Ignored Folders
Resource/Model
Resource/World
Resource/Icon
Resource/Item
Resource/Theme
Resource/Weather
Resource/SFX
Resource/Music
Resource/Client
Resource/Char
Source/Output
Client/
Output/
Program/

#Get rid of unused files.
*.exe
*.bak
*.ncb
*.suo
*.old*
Source/__all/all.ncb
Source/__all/all.suo
Flyff.a
Flyff.b

#Unused VB Files
[Bb]in/
