#################
## Flyff Files
#################

# Resource Files
*.res
*.res_original
*.rf

# 3D Files
*.ani
*.03d
*.chr

# Music
*.ogg
*.mp3
*.wav

# SFX
*.sfx

# Textures
*.dds
*.tga
*.bmp
*.jpg

# World Files
*.dyo
*.wld
*.lnd
*.rgn

#error files
error_*.txt

#Archive
*.rar

Resource/Model
Resource/World
Resource/Icon
Resource/Item
Resource/Theme
Resource/Weather
Resource/SFX
Resource/Music
Resource/Client
Resource/Char
Source/Output
Client/
Output/

*.exe
*.bak
*.ncb
*.suo
*.old*
*.ncb
*.suo

